.container{
    width: 320px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px grey;
}

.input-group label{
display: inline-block;
width: 110px;
}

input{
    align-items: center;
    display: inline-block;
    padding: 5px;
    width: 110px;
}

table{
    margin-top: 5px;
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}