.merah{
    background-color: #AA0000;
    width: 220px;
    padding: 50px 90px 40px 50px;
    position: relative;
}
.kiri{
    position: absolute;
    left: 15px;
    top: 15px;
    color: white;
    font-size: 40px;
}
.kanan{
    position: absolute;
    right: 20px;
    top: 25px;
    color: black;
    font-size: 40px;
}